{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">Product Batches</h4>

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <!-- Filter controls -->
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <div>
                            <div class="card-title">List of Product Batches</div>
                            <div class="card-category">Filter Batches</div>
                            <!-- Search form -->
                            <form id="batchSearchForm" class="mt-2">
                                <input type="text" id="batchSearchInput" 
                                       class="form-control" 
                                       placeholder="Search product/batch..." 
                                       value="{{ request.GET.q }}">
                            </form>
                        </div>
                        <div class="pull-right">
                            <a href="{% url 'product-batch-add' %}" class="btn btn-success btn-rounded">
                                Add Product Batch
                            </a>
                        </div>
                    </div>

                    <div class="card-body">
                        <table class="table table-striped mt-3" id="batchTable">
                            <thead>
                                <tr>
                                    <th scope="col">Batch Date</th>
                                    <th scope="col">Product</th>
                                    <th scope="col">Quantity</th>
                                    <th scope="col">Manufactured Date</th>
                                    <th scope="col">Expiration Date</th>
                                    <th scope="col">Actions</th>
                                </tr>
                            </thead>
                            <tbody id="batchTableBody">
                                {% for object in product_batch %}
                                <tr>
                                    <td>{{ object.batch_date|date:"Y-m-d" }}</td>
                                    <td>{{ object.product }}</td>
                                    <td>{{ object.quantity }}</td>
                                    <td>{{ object.manufactured_date|date:"Y-m-d" }}</td>
                                    <td>{{ object.expiration_date|date:"Y-m-d" }}</td>
                                    <td>
                                        <a href="{% url 'product-batch-edit' object.id %}" style="color: blue;" title="Edit">
                                            <i class="la la-edit la-lg"></i>
                                        </a>
                                        &nbsp;&nbsp;
                                        <a href="{% url 'product-batch-delete' object.id %}" style="color: red;" title="Delete">
                                            <i class="la la-trash la-lg"></i>
                                        </a>
                                    </td>
                                </tr>
                                {% empty %}
                                <tr>
                                    <td colspan="6" class="text-center">No product batches found.</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        {% include 'includes/pagination.html' %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="{% static 'js/product_search.js' %}"></script>
{% endblock %}
