{% extends "base.html" %}
{% load static %}

{% block title %}My Profile{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/profile.css' %}">

<div class="container container-p-y profile-page">
    <h2 class="font-weight-bold py-3 mb-4">
        General
    </h2>

    <div class="card overflow-hidden">
        <div class="row no-gutters row-bordered row-border-light">
            <div class="col-md-12">
                <div class="card-body">
                    <!-- Full Profile Form -->
                    <form>
                        <div class="form-group">
                            <label class="form-label">Username</label>
                            <input type="text" class="form-control" value="{{ user.username }}" readonly>
                        </div>

                        <div class="form-group">
                            <label class="form-label">First Name</label>
                            <input type="text" class="form-control" value="{{ user.first_name }}" readonly>
                        </div>

                        <div class="form-group">
                            <label class="form-label">Last Name</label>
                            <input type="text" class="form-control" value="{{ user.last_name }}" readonly>
                        </div>

                        <div class="form-group">
                            <label class="form-label">E-mail</label>
                            <input type="text" class="form-control" value="{{ user.email }}" readonly>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Edit Profile Button -->
    <div class="text-right mt-3">
        <a href="{% url 'edit_profile' %}" class="btn btn-outline-primary">Edit Profile</a>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/js/bootstrap.bundle.min.js"></script>
{% endblock %}
