{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
<div class="content">
  <div class="container-fluid">
    <h4 class="page-title">
      <a href="{% url 'rawmaterials' %}" class="btn btn-link p-0 mr-2" title="Back to Raw Materials">
        <i class="la la-arrow-left" style="font-size: 24px;"></i>
      </a>
      Raw Materials
    </h4>
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <div class="card-title">Add New Raw Material</div>
          </div>

          <div class="card-body">
              <form method="post" enctype="multipart/form-data">
                {% csrf_token %}

                {% if form.errors %}
                  <div class="alert alert-danger">
                    {{ form.errors }}
                  </div>
                {% endif %}

                <div class="form-container">
                  <!-- Name -->
                  <div class="form-item">
                    <label>Name</label>
                    <input type="text" name="name" class="form-control" value="{{ form.name.value|default:'' }}" placeholder="Enter Material" required>
                  </div>

                  <!-- Size -->
                  <div class="form-item">
                    <label>Size</label>
                    <input type="number" step="0.01" name="size" class="form-control" value="{{ form.size.value|default:'' }}" placeholder="Enter Size" required>
                  </div>

                  <!-- Unit -->
                  <div class="form-item">
                    <label>Size Unit</label>
                    <input type="text" name="unit" list="unit-options" class="form-control" value="{{ form.unit.value|default:'' }}" placeholder="Enter Size Unit" required>
                    <datalist id="unit-options">
                      {% for su in size_units %}
                        <option value="{{ su.unit_name }}">
                      {% endfor %}
                    </datalist>
                  </div>

                  <!-- Price Per Unit -->
                  <div class="form-item">
                    <label>Price Per Unit</label>
                    <input type="number" step="0.01" name="price_per_unit" class="form-control" value="{{ form.price_per_unit.value|default:'' }}" placeholder="Enter Price Per Unit" required>
                  </div>
                </div>

                <!-- Buttons -->
                <div class="form-actions btn-row mt-3">
                  <button type="submit" class="btn btn-primary btn-rounded">Save Raw Material</button>
                </div>

              </form>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

