{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="content">
  <div class="container-fluid">
    <h4 class="page-title">Bulk Add Raw Material Batches</h4>

    <div class="card">
      <div class="card-body">
        <form method="post">
          {% csrf_token %}

          <!-- Batch Details -->
          <div class="form-row">
            <div class="form-group col-md-6">
              <label>Batch Date</label>
              {{ form.batch_date }}
            </div>
            <div class="form-group col-md-6">
              <label>Received Date</label>
              {{ form.received_date }}
            </div>

          <hr>
          <h5>Input Quantities for Raw Materials</h5>

          <table class="table table-bordered table-striped">
            <thead class="thead-light">
              <tr>
                <th>Raw Material</th>
                <th>Quantity</th>
                <th>Expiration Date</th>
              </tr>
            </thead>
            <tbody>
              {% for r in raw_materials %}
              <tr>
                <td>{{ r.rawmaterial }}</td>
                <td>{{ r.qty_field }}</td>
                <td>{{ r.exp_field }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>

          <button type="submit" class="btn btn-success btn-rounded">Save Batches</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
