{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="content">
  <div class="container-fluid">
    <h4 class="page-title">Bulk Add Raw Material Batches</h4>

    <div class="card">
      <div class="card-body">
        <form method="post">
          {% csrf_token %}

          <!-- Raw Materials Table -->
          <div class="mt-3">
            <h5>Raw Materials</h5>

          <!-- Batch Details -->
          <div class="form-group">
            <label for="{{ form.received_date.id_for_label }}">Received Date</label>
            {{ form.received_date }}
          </div>
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Raw Material</th>
                  <th>Current Stock</th>
                  <th>Quantity</th>
                  <th>Expiration Date</th>
                </tr>
              </thead>
              <tbody>
                {% for r in raw_materials %}
                <tr>
                  <td>{{ r.rawmaterial }}</td>
                  <td>{{ r.rawmaterial.rawmaterialinventory.total_stock|floatformat:0 }}</td>
                  <td>{{ r.qty_field }}</td>
                  <td>{{ r.exp_field }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>

          <!-- Submit Button -->
          <div class="form-group mt-3">
            <button type="submit" class="btn btn-success btn-rounded">Save Batches</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
