{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">Withdrawals</h4>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">List of Withdrawals</div>
                        <div class="card-category">Page Subtitle</div>
                        <div class="pull-right">
                            <a href="{% url 'withdraw-item' %}" class="btn btn-success btn-rounded">Withdraw Item</a>
                        </div>
                    </div>
                    <div class="card-body">
                        <table class="table table-striped mt-3">
                            <thead>
                                <tr>
                                    <th scope="col">Date</th>
                                    <th scope="col">Item Type</th>
                                    <th scope="col">Item ID</th>
                                    <th scope="col">Quantity</th>
                                    <th scope="col">Reason</th>
                                    <th scope="col">Withdrawn By</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for object in object_list %}
                                <tr>
                                    <td>{{ object.date|date:"Y-m-d H:i" }}</td>
                                    <td>{{ object.get_item_type_display }}</td>
                                    <td>{{ object.item_id }}</td>
                                    <td>{{ object.quantity }}</td>
                                    <td>{{ object.get_reason_display }}</td>
                                    <td>{{ object.created_by_admin.username }}</td>
                                </tr>
                                {% empty %}
                                <tr>
                                    <td colspan="7" class="text-center">No withdrawals recorded yet.</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>

                        {% include 'includes/pagination.html' %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
