body {
font-family: 'Nunito', sans-serif;
background: #d3ecdc;
margin: 0;
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
}

.login-container {
display: flex;
background-color: #fff;
border-radius: 20px;
box-shadow: 0 20px 20px rgba(0, 0, 0, 0.1);
overflow: hidden;
width: 90%;
max-width: 1000px;
height: 90%;
min-height: 500px;
}

.login-left {
flex: 1;
background: #4e7452;
color: white;
display: flex;
flex-direction: column;
justify-content: center;
text-align: center;
padding: 40px;
}

.brand img {
width: 80px;
height: auto;
margin-bottom: 20px;
}

.login-left h1 {
font-size: 2.5rem;
margin-bottom: 10px;
}

.login-left p {
font-size: 1.2rem;
}

.login-right {
flex: 1.5;
padding: 40px;
display: flex;
flex-direction: column;
justify-content: center;
}

.form-wrapper {
text-align: center;
}

.form-wrapper h2 {
font-size: 2rem;
margin-top: 20px;
color: #333;
}

.form-wrapper input {
width: 100%;
padding: 15px;
margin: 10px 0;
border-radius: 4px;
border: 1px solid #ddd;
font-size: 15px;
}

.options {
display: flex;
justify-content: space-between;
align-items: center;
}

.remember {
display: flex;
align-items: center;
flex-wrap: nowrap;
}

.remember input {
margin-right: 8px;
}

.remember span {
white-space: nowrap; 
margin-top: -2px; 
}

.forgot-link {
color: #4e7452;
font-size: 1rem;
}

.forgot-link:hover {
text-decoration: underline;
}

button {
width: 100%;
padding: 14px;
background-color: #5a855f;
color: white;
font-size: 1.2rem;
border: none;
border-radius: 4px;
cursor: pointer;
}

button:hover {
background-color: #4e7452;
}

.signup-text {
margin-top: 20px;
font-size: 1rem;
}

.signup-text a {
color: #5a855f;
}

.footer-left {
position: absolute;
bottom: 20px;
left: 20px;
color: #fff;
font-size: 0.8rem;
}