/* custom checkboxes */
.custom-checkbox {
  display: inline-block;
  width: 18px;
  height: 18px;
  border: 2px solid #28a745;
  border-radius: 4px;
  margin-right: 8px;
  vertical-align: middle;
  position: relative;
}

input[type="checkbox"]:checked + label .custom-checkbox {
  background-color: #28a745;
}
