{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Real's Food Products{% endblock %}</title>

  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/login.css' %}">
  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800&display=swap" rel="stylesheet">
</head>
<body>
  <div class="login-container">
    <!-- Left Section -->
    <div class="login-left">
      <div class="brand">
        <img src="{% static 'img/reals.jpg' %}" alt="Logo" class="brand-logo">
        <h2>Password reset email sent!</h2>
      </div>
      <div class="footer-left">
        <p>&copy; Reals Food Products</p>
      </div>
    </div>

    <!-- Right Section -->
    <div class="login-right">
      <div class="form-wrapper">
        <p>Please check your inbox.</p>
        {% block content %}
          <p>We've emailed you instructions for setting your password. You should be receiving it shortly!</p>
          <p>If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.</p>
        {% endblock %}
        </div>
        </div>
        </div>
        </div>
</body>
</html>

